@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-display: fallback;
	line-height: 1.7;
	--color-light: #f2eeee;
}

body {
	margin: 0;
	background-color: #697b82;
}

footer {
	font-size: .8em;
	text-align: center;
	padding: 8px;
}

.logo {
	background-image: url('../../screenshots/favicon.svg');
	background-size: contain;
    background-repeat: no-repeat;
}

.logo.upper-right {
	position: fixed;
	top: 16px;
	right: 8px;
	width: 50px;
	height: 50px;
	opacity: .5;
	pointer-events: none;
	z-index: 3;
}

code {
	color: #bc8f49;
}

code .par {
	color: #5b995b;
}

code .prop {
	color: #9a8297;
}

code .comment {
    color: #795548;
    font-style: italic;
}

.flexrow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexcol-1 {
	flex-grow: 1;
	flex-basis: 9em;
    margin: 16px 8px;
    max-width: 1024px;	
}

.flexcol-2 {
	flex-grow: 9999;
	flex-basis: 20em;
}

.flexcol-3 {
	flex-grow: 1;
	flex-basis: 9em;
    margin: 16px 8px;
    max-width: 1024px;	
}

.shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}

.darken {
	background: #0000001f;
}

.explanation {
    color: #9E9E9E;
	font-size: .85em;
}

.mark {
	border-bottom: solid 2px #9a8297;
    padding-bottom: .6em;
	margin-bottom: 1.6em;
}

.eg {
	position: relative;
	border: solid 1px #e3ddd5;
    padding: 4px;
    border-radius: 2px;
    background-color: #f7f1e9;
}

.eg::before {
	content: attr(title);
    position: absolute;
    top: -1.6em;
    font-size: .85em;
    font-weight: normal;
    color: #dedede;	
}

.title {
	top: 0;
	padding: 0px 8px;
}

.title>h1 {
	padding: 8px 4px;
	margin: 0;
	letter-spacing: .1em;
	font-size: 3em;
	color: var(--color-light);
}

.title>h1.logo {
	padding: 4px 0 11px 38px;
}

.avatar {
	border-radius: 4px;
	vertical-align: text-top;
	object-fit: cover;
    width: 100%;
	max-height: 6.6em;
    opacity: .3;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);	
}

.badges {
	padding: 4px;
}

.badges a {
	text-decoration: none;
}

.content>nav a {
    color: var(--color-light);
}

.content>nav>ul {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	list-style: none;
	padding: 0;
}

.content>nav>ul>li::before {
	content: '> ';
	color: #dedede;
}

.content>nav>ul>li>ul {
	font-size: .8em;
	top: 0px;
	list-style: none;
	padding: 0 0 0 .8em;
}

.content>.pens>section {
	background-color: #fafafa;
	margin: 16px 8px;
	padding: 8px 24px;
	border-radius: 2px;
}

.content>.pens>section>h3::before {
	content: '> ';
	color: #dedede;
}

table.detail {
	width: 100%;
	border-collapse: collapse;
}

table.detail th {
	font-size: .85em;
	text-align: left;
	padding-top: 16px;
}

table.detail td {
	vertical-align: top;
	border-bottom: solid 1px #ededed;
	max-width: 14em;
	padding: 4px 0px;
}

table.detail tbody,
table.detail tbody>tr {
	transition: background-color .4s ease;
}

table.detail.hover-on-row tbody>tr:hover,
table.detail.hover-on-body tbody:hover {
	background-color: #efefef;
}

@media (min-width: 68em) {
	html {
		font-size: 18px;
	}
}

@media (max-height: 400px) {
	.content>nav>ul {
		position: relative;
	}	
}

.theme-gray {
	--color-light: #697b82;
}

.theme-gray body {
	background-color: #f5f5f5;
}

.theme-gray .avatar {
	opacity: .6;
}